FS.Core/Web References/SoapNotify/NotificationManager5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Stats" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Stats" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Stats" nillable="true" type="tns:ArrayOfStatDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatListDTO" nillable="true" type="tns:StatListDTO" />
  <xs:complexType name="ArrayOfStatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatDTO" nillable="true" type="tns:StatDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatDTO" nillable="true" type="tns:ArrayOfStatDTO" />
  <xs:complexType name="StatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatDTO" nillable="true" type="tns:StatDTO" />
</xs:schema>