FS.Core/Web References/SoapNotify/NotificationManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Dictionaries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Dictionaries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DictionaryItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ghost" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictionaryItemDTO" nillable="true" type="tns:DictionaryItemDTO" />
</xs:schema>