FS.Core/Web References/SoapNotify/NotificationManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd4" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Notifications" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Dictionaries" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Enums" />
      <xsd:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Stats" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationManager_AddNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNotification" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_AddNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_GetAllNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_GetAllNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_ClearLastNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearLastNotifications" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_ClearLastNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearLastNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_GetStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStats" />
  </wsdl:message>
  <wsdl:message name="INotificationManager_GetStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatsResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationManager">
    <wsdl:operation name="AddNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationManager/AddNotification" message="tns:INotificationManager_AddNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationManager/AddNotificationResponse" message="tns:INotificationManager_AddNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationManager/GetAllNotifications" message="tns:INotificationManager_GetAllNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationManager/GetAllNotificationsResponse" message="tns:INotificationManager_GetAllNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearLastNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationManager/ClearLastNotifications" message="tns:INotificationManager_ClearLastNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationManager/ClearLastNotificationsResponse" message="tns:INotificationManager_ClearLastNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStats">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationManager/GetStats" message="tns:INotificationManager_GetStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationManager/GetStatsResponse" message="tns:INotificationManager_GetStats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationManager" type="tns:INotificationManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNotification">
      <soap:operation soapAction="http://tempuri.org/INotificationManager/AddNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationManager/GetAllNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLastNotifications">
      <soap:operation soapAction="http://tempuri.org/INotificationManager/ClearLastNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStats">
      <soap:operation soapAction="http://tempuri.org/INotificationManager/GetStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationManager">
    <wsdl:port name="BasicHttpBinding_INotificationManager" binding="tns:BasicHttpBinding_INotificationManager">
      <soap:address location="http://notify.ad/notify.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>