FS.Core/Web References/SoapNotify/NotificationManager0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Notifications" />
  <xs:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions" />
  <xs:import schemaLocation="http://notify.ad/notify.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Stats" />
  <xs:element name="AddNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Notifications" minOccurs="0" name="notification" nillable="true" type="q1:NotificationDTO" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions" minOccurs="0" name="AddNotificationResult" nillable="true" type="q2:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Notifications" minOccurs="0" name="GetAllNotificationsResult" nillable="true" type="q3:NotificationListsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLastNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="clearMsgs" type="xs:boolean" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLastNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions" minOccurs="0" name="ClearLastNotificationsResult" nillable="true" type="q4:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="interval" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MonitoringManager_PROD.Definitions.Stats" minOccurs="0" name="GetStatsResult" nillable="true" type="q5:StatListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>